/*nav related styles*/
body{
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;

}
.nav-title{
    color: black;
    font-size: 30px;
    font-weight: 800px;
}
.Text-primary{
    color:crimson;
}
.btn-prymary{
    color: white;
    background-color: crimson;
    padding: 5px 20px 5px 20px;
    border: 0px;
    font-size: 20px;
    font-weight: 700px;
}
.btnn-prymary{
    color:crimson ;
    background-color: white;
    padding: 5px 20px 5px 20px;
    border-color:crimson;
    font-size: 20px;
    font-weight: 700px;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 40px;
}
nav a{
    text-decoration: none;
    color:rgb(110, 102, 102);
}
.header{
    background-color:antiquewhite;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding: 30px 30px 0px 140px;
    display: flex;
    align-items: center;
}
.banner .profile-picture{
    width: 400px;
    
}
.banner-content{
    max-width: 500px;
}
.banner-greeting{
    font-size: 40px;
    color: brown;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 80px;
    font-style: normal;
    font-weight: 700px;
    margin-top: 2px;
    margin-bottom: 20px;
} 
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: bisque;
    margin: 100px;
}
.section-titile{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 650px;
}
.section-description{
    counter-reset: bisque;
    text-align: center;
    font-size: 16px;
}
main{
    max-width: 1100px;
    margin: 0 auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    
}
.about-info{
    text-align: center;
}
#what-i-do-description{
    padding: 30px 140px;
}